#feature-edit-raw

  %textarea.form-control{name: "properties", rows: "6", cols: "50", "data-feature-target": "properties" }
  %span.error

  %button.btn.btn-blue.feature-update.me-2.mt-2{ 'data-action': "click->feature--edit#update_feature_raw"} Update

  = link_to 'Style Help', doc_path(id: 'geojson_style_spec'), { target: '_blank', rel: 'noopener noreferrer' }
