#feature-edit-ui.hidden

  .feature-edit-section{ 'data-edit-section': "properties" }
    .feature-section-card.pt-2
      #feature-title-input.edit-ui.form-floating
        %input.form-control{ "name": "feature-title", data: { action: "input->feature--edit#addUndo input->feature--edit#updateTitle" } }
        %label{ for: "feature-title"} Title

      #feature-show-title-ui.edit-ui.ms-2
        %input#feature-show-title-on-map{ type: "checkbox", data: { action: "input->feature--edit#addUndo input->feature--edit#updateShowTitleOnMap change->feature--edit#saveFeature" } }
        %label{ for: "feature-show-title-on-map"} Show title on map

      .edit-ui
        %button#button-add-desc.mt-1.btn.btn-sm.btn-secondary{ type: "button", 'data-action': "click->feature--modal#show_add_desc" }
          %i.bi.bi-plus-square.me-1
          Add description

    #feature-desc-section.feature-section-card.hidden
      #feature-desc
        %textarea#feature-desc-input

  .feature-edit-section.hidden{ 'data-edit-section': "style" }
    .feature-section-card.pt-2
      #point-size-ui.edit-ui.edit-point
        %label.left-label{ for: "point-size"} Size:
        %input.slider#point-size{ type: "range", min: "1", max: "75", value: "1", 'data-action': "input->feature--edit#addUndo input->feature--edit#updatePointSize  change->feature--edit#saveFeature" }
        %span#point-size-val.text-muted.small
        .stepper{ 'data-stepper-for': "point-size", 'data-stepper-step': "1" }
          %button.stepper-btn.stepper-btn-dec{ type: "button" } −
          %span.stepper-val
          %button.stepper-btn.stepper-btn-inc{ type: "button" } +

      #point-scaling-ui.edit-ui.edit-point
        %label.left-label.edit-polygon.edit-line{ for: "point-scaling"} Point scaling:
        %input#point-scaling{type: "checkbox", data: { action: "input->feature--edit#addUndo input->feature--edit#updatePointScaling change->feature--edit#saveFeature"} }
        %label{ for: "point-scaling"} Scaled with zoom

      #line-width-ui.edit-ui.edit-line
        %label.left-label{ for: "line-width"} Width:
        %input.slider#line-width{ type: "range", min: "1", max: "15", value: "1", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateLineWidth change->feature--edit#saveFeature" }
        %span#line-width-val.text-muted.small
        .stepper{ 'data-stepper-for': "line-width", 'data-stepper-step': "1" }
          %button.stepper-btn.stepper-btn-dec{ type: "button" } −
          %span.stepper-val
          %button.stepper-btn.stepper-btn-inc{ type: "button" } +

      #outline-width-ui.edit-ui.edit-polygon
        %label.left-label{ for: "outline-width"} Line width:
        %input.slider#outline-width{ type: "range", min: "0", max: "15", value: "1", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateOutLineWidth change->feature--edit#saveFeature" }
        %span#outline-width-val.text-muted.small
        .stepper{ 'data-stepper-for': "outline-width", 'data-stepper-step': "1" }
          %button.stepper-btn.stepper-btn-dec{ type: "button" } −
          %span.stepper-val
          %button.stepper-btn.stepper-btn-inc{ type: "button" } +

      #stroke-color-ui.edit-ui.edit-line.edit-polygon.edit-point
        %label.left-label.edit-polygon.edit-line{ for: "stroke-color"} Line color:
        %label.left-label.edit-point{ for: "stroke-color"} Border color:
        %select#stroke-color-mode.form-select.form-select-sm.edit-line.hidden{ data: { action: "change->feature--edit#addUndo change->feature--edit#updateStrokeColorMode change->feature--edit#saveFeature" } }
          %option{ value: "" } Color
          %option{ value: "steepness" } Steepness
          %option{ value: "surface" } Surface
        %input.form-control#stroke-color{ type: "color", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateStrokeColor change->feature--edit#saveFeature" }
        %div.edit-polygon.edit-point
          %input#stroke-color-transparent{type: "checkbox", data: { action: "input->feature--edit#addUndo input->feature--edit#updateStrokeColorTransparent change->feature--edit#saveFeature"} }
          %label{ for: "stroke-color-transparent"}transparent

      #fill-color-ui.edit-ui.edit-polygon.edit-point
        %label.left-label{ for: "fill-color"} Fill color:
        %input.form-control#fill-color{ type: "color", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateFillColor change->feature--edit#saveFeature" }
        %div
          %input#fill-color-transparent{type: "checkbox", value: 'transparent', data: { action: "input->feature--edit#addUndo input->feature--edit#updateFillColorTransparent change->feature--edit#saveFeature"} }
          %label{ for: "fill-color-transparent"}transparent

      #opacity-ui.edit-ui.edit-polygon
        %label.left-label{ for: "opacity"} Opacity:
        %input.slider#opacity{ type: "range", min: "1", max: "10", value: "7", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateOpacity change->feature--edit#saveFeature" }
        %span#opacity-val.text-muted.small
        .stepper{ 'data-stepper-for': "opacity", 'data-stepper-step': "1" }
          %button.stepper-btn.stepper-btn-dec{ type: "button" } −
          %span.stepper-val
          %button.stepper-btn.stepper-btn-inc{ type: "button" } +

      #marker-symbol-ui.edit-ui.edit-point
        %label.left-label{ for: "marker-symbol"} Symbol:
        %input.form-control#marker-symbol{ type: "hidden", inputmode: 'emoji' }
        #marker-symbol-select.btn.btn-secondary.ps-1.pe-2{ 'data-action': "click->feature--edit#openEmojiPicker" }
          %i.bi.bi-pencil-square.ms-1#no-emoji
        %span#emoji

      #marker-image-ui.edit-ui.edit-point
        %label.left-label{ for: "marker-image"} Image:
        - if @user
          %label.btn.btn-secondary.p-1.ps-2.pe-2{for: 'marker-image'}
            %i.bi.bi-upload
          %input.form-control#marker-image.hidden{ type: "file", 'data-action': "input->feature--edit#addUndo change->feature--edit#updateMarkerImage" }
        - else
          %i.bi.bi-info-circle
            Please log in to upload images
        .feature-image

      #fill-extrusion-height-ui.edit-ui.edit-line.edit-polygon
        %label.left-label{ for: "fill-extrusion-height"} Height:
        %input.slider#fill-extrusion-height{ type: "range", min: "0", max: "500", value: "0", 'data-action': "input->feature--edit#addUndo input->feature--edit#updateFillExtrusionHeight change->feature--edit#saveFeature" }
        %span#fill-extrusion-height-val.text-muted.small
        .stepper{ 'data-stepper-for': "fill-extrusion-height", 'data-stepper-step': "10" }
          %button.stepper-btn.stepper-btn-dec{ type: "button" } −
          %span.stepper-val
          %button.stepper-btn.stepper-btn-inc{ type: "button" } +

      #show-km-markers-ui.edit-ui.edit-line
        %label.left-label.edit-line{ for: "show-km-markers"} 
          Distance
          %br 
          markers:
        %input#show-km-markers{type: "checkbox", data: { action: "input->feature--edit#addUndo input->feature--edit#updateShowKmMarkers change->feature--edit#saveFeature"} }

  .feature-edit-section.hidden{ 'data-edit-section': "advanced" }
    .feature-section-card.pt-2
      .feature-section-title JSON
      = render 'maps/modals/feature/edit_raw'

    .feature-section-card
      %button#edit-button-trash.feature-delete-btn{ type: "button", title: "Delete feature", data: { action: "click->feature--edit#delete_feature" } }
        %i.bi.bi-trash
        Delete

