#maps-list

  %span#map-list-count= "Showing #{@maps.size} maps"

  .grid-container.flex-center.mb-4
    - @maps.each do |map|
      = render map, rw: true, last_change: true, avatar: true, delete: true, clone:true
      