- content_for :title, "Mapforge: Admin"
= turbo_stream_from "admin_maps_list"

#maps
  %h1.mapforge-font
    Admin
    %span.fs-5
      (#{@maps.size})

  - sort_options = [ ["created_at", "desc", "Newest"],
                     ["created_at", "asc", "Oldest"],
                     ["updated_at", "desc", "Recently updated"],
                     ["updated_at", "asc", "Least recently updated"],
                     ["view_count", "desc", "Most viewed"],
                     ["view_count", "asc", "Least viewed"] ]

  %select{ name: "sort", 'data-controller': "maps" }
    - sort_options.each do |sort, direction, label|
      %option{
        selected: (@sort == sort && @direction == direction),
        'data-action': "click->maps#loadMaps",
        'data-maps-sort-param': sort,
        'data-maps-direction-param': direction
      }
        = label

  = render "list", maps: @maps