#layer-loading.layer-popover.hidden
  %i.bi.bi-arrow-clockwise.reload-icon.layer-refresh-animate.me-1
  Loading live layer

#layer-reload.layer-popover.hidden{ 'data-controller': "map--layers", data: { action: "click->map--layers#refreshOverpassLayers" } }
  %i.bi.bi-arrow-clockwise.reload-icon.me-1
  Reload live layer