#feature-details-modal.map-modal.modal-pull-transition.fade{
  'data-controller': "map--modal feature--modal feature--edit",
  'data-action': "keydown.del@window->feature--edit#delete_feature \
    keydown.esc@window->map--modal#close \
    toggle-edit-feature@window->feature--modal#toggle_edit_feature \
    keydown.ctrl+c@window->feature--modal#copy" }

  %a.link{ 'data-action': "click->feature--modal#toggleModalSize"}
    .modal-pull-button

  %button.modal-close-button{ 'data-action': "click->map--modal#close" } &times;
  .feature-modal-header
    %h4#feature-details-header.flex-container.flex-no-wrap.flex-vcenter
      .feature-symbol.me-2
      #feature-title.ms-1.selectable.no-wrap

  #edit-buttons.feature-edit-tabs.hidden.flex-center
    %button#edit-button-details.feature-tab-btn{ type: "button", 'data-action': "click->feature--modal#toggle_edit_feature", 'data-edit-type': 'details' }
      Details
    %button#edit-button-edit.feature-tab-btn{ type: "button", 'data-action': "click->feature--modal#toggle_edit_feature", 'data-edit-type': 'ui', 'data-edit-tab': 'properties' }
      Properties
    %button#edit-button-style.feature-tab-btn{ type: "button", 'data-action': "click->feature--modal#toggle_edit_feature", 'data-edit-type': 'ui', 'data-edit-tab': 'style' }
      Style
    %button#edit-button-advanced.feature-tab-btn{ type: "button", 'data-action': "click->feature--modal#toggle_edit_feature", 'data-edit-type': 'ui', 'data-edit-tab': 'advanced' }
      Advanced

  = render 'maps/modals/feature/edit_ui'

  #feature-details-body.selectable.ms-1
    #feature-details-description

    #feature-details-elevation
      %canvas#route-elevation-chart

  #feature-details-meta.mt-2.flex-center
    %span#feature-size.selectable.text-nowrap
    %span#feature-vertexes.selectable.text-nowrap
    %span.feature-export#feature-export-geo.ms-4.link.text-nowrap<
      =link_to map_feature_geo_path(id: @map.public_id, feature_id: 'feature_id'), target: '_blank', title: 'Download as geoJSON', 'data-toggle': "tooltip", 'data-bs-placement': "bottom", 'data-bs-trigger': "hover", 'data-bs-custom-class': "maplibregl-ctrl-tooltip" do
        %i.bi.bi-download
        GeoJSON
    %span.feature-export#feature-export-gpx.ms-2.link.text-nowrap<
      =link_to map_feature_gpx_path(id: @map.public_id, feature_id: 'feature_id'), title: 'Download as GPX', 'data-toggle': "tooltip", 'data-bs-placement': "bottom", 'data-bs-trigger': "hover", 'data-bs-custom-class': "maplibregl-ctrl-tooltip" do
        %i.bi.bi-download
        GPX
    / %span#feature-animation.ms-2.link
    /   %i.bi.bi-camera-reels{title: "Play animation", 'data-toggle': "tooltip", 'data-bs-placement': "bottom", 'data-bs-trigger': "hover", 'data-bs-custom-class': "maplibregl-ctrl-tooltip", 'data-action': "click->feature--modal#animate"}
