#layers-modal.modal-center.fade
  .map-modal{'data-controller': "map--layers", 'data-action': "keydown.esc@window->map--layers#close"}
    %button.close-button{ data: { action: "click->map--layers#close" } } &times;
    .map-modal-header
      %h3 Layers

    .map-modal-content

      - if @map_mode == 'rw'
        #layer-upload.row.align-items-center
          .col
            %label{ for: "formFile" }
              %b Import gpx/kml (max. 800Kb)
            %br
            %i
              %small EPSG:4326 (WGS 84) format
          .col
            %input.form-control#fileInput{ type: "file", data: { action: "input->map--layers#upload" } }

      #default-layer.mt-2
        %h4.layer-name Map elements
        %ul.layer-elements.list-unstyled


