#layers-modal.modal-center.fade
  .map-modal{'data-controller': "map--layers", 'data-action': "keydown.esc@window->map--layers#close"}
    %button.close-button{ data: { action: "click->map--layers#close" } } &times;
    .map-modal-header
      %h3.mapforge-font Layers

    .map-modal-content

      - if @map_mode == 'rw'
        #layer-upload.row.align-items-center
          .col-5
            %label{ for: "formFile" }
              %b
                %i.bi.bi-upload.me-1
                Import gpx/kml

          .col-7
            - if @user
              %input.form-control.btn.btn-green#fileInput{ type: "file", data: { action: "change->map--layers#upload" } }
            - else
              %i.bi.bi-info-circle
                Please log in to upload tracks

          %i
            %small EPSG:4326 (WGS 84) format, max. 800Kb

      #layers.mt-2
        %h4.mapforge-font.layer-name Map elements
        %ul.layer-elements.list-unstyled


