#layers-modal.modal-center.fade
  .map-modal{'data-controller': "map--layers", 'data-action': "keydown.esc@window->map--layers#close"}
    %button.close-button{ data: { action: "click->map--layers#close" } } &times;
    .map-modal-header
      %h3.mapforge-font Layers

    .map-modal-content

      - if @map_mode == 'rw'
        #layer-upload.row.align-items-center
          .col-12
            - if @user
              %label.form-control.btn.btn-green#file-input-label{ for: "fileInput" }
                %i.bi.bi-upload.me-1
                Import gpx/kml
              %input.hidden#fileInput{ type: "file", data: { action: "change->map--layers#upload" } }
              %i.no-wrap.ms-2
                %small WGS84 format, max. 800Kb
            - else
              %i.bi.bi-info-circle
                Please log in to upload tracks

      - # used by controls/shared.js
      .hidden
        #layer-item-template.layer-item.mt-3
          %h4.link.mapforge-font{ data: { action: "click->map--layers#toggleLayerList" }}
            %i.bi.bi-caret-down-fill
            %span.layer-name Layer elements

          .layer-content
            %button.hidden.btn.btn-light-green{ data: { action: "click->map--layers#refreshOverpassLayer" } }
              %i.bi.bi-arrow-clockwise
              Refresh for current view

            %ul.list-unstyled

      #layers.mt-2



