#layers-modal.modal-center.fade
  .map-modal{'data-controller': "map--layers", 'data-action': "keydown.esc@window->map--layers#close"}
    %button.close-button{ data: { action: "click->map--layers#close" } } &times;
    .map-modal-header
      %h3.mapforge-font Layers

    .map-modal-content

      - if @map_mode == 'rw'
        .row.align-items-center
          .col-6
            - if @user
              %label.no-wrap.form-control.btn.btn-green#file-input-label{ for: "fileInput", title: 'WGS84 format, max. 1.5MB' }
                %i.bi.bi-upload.me-1
                Import
                .d-none.d-sm-inline
                  (track / image)
              %input.hidden#fileInput{ type: "file", data: { action: "change->map--layers#upload" } }
            - else
              %i.bi.bi-info-circle
                Please log in to upload tracks
          .col-6
            %button.no-wrap.form-control.btn.btn-green.dropdown-toggle{ type: "button",
                  id: "newLayerDropdown", 'data-bs-toggle': "dropdown", 'aria-expanded': "false" }
              %i.bi.bi-plus-square.me-1
              Add
              %span.d-none.d-sm-inline
                query
            %ul#query-dropdown.dropdown-menu{ 'aria-labelledby': "newLayerDropdown", data: { action: "click->map--layers#createOverpassLayer" } }

      - # used by controls/shared.js
      .hidden
        #layer-item-template.layer-item.mt-3
          %h4.layer-item-header
            %span.link{ data: { action: "click->map--layers#toggleLayerList" }}
              %i.bi.bi-caret-right-fill
              %span.mapforge-font.layer-name.me-2 Layer name
            %button.hidden.btn.btn-green.btn-layer-actions.overpass-refresh{ data: { action: "click->map--layers#refreshOverpassLayer", "toggle": 'tooltip', 'bs-custom-class': 'maplibregl-ctrl-tooltip' }, title: "Refresh layer for current view" }
              %i.bi.bi-arrow-clockwise.reload-icon
            %button.hidden.btn.btn-light-green.btn-layer-actions.layer-edit{ data: { action: "click->map--layers#toggleEdit", "toggle": 'tooltip', 'bs-custom-class': 'maplibregl-ctrl-tooltip' }, title: "Edit query" }
              %i.bi.bi-pencil-square

          .layer-content.hidden

            .layer-item-overpass.hidden
              %span.d-none.d-sm-inline
                This layer is an
              = image_tag "/icons/osm-icon-small.png", class: 'layer-osm-icon', alt: "OSM Overpass layer"
              OSM live query

            .overpass-edit.hidden
              .mb-2.form-floating
                %input.mw-400.form-control.overpass-name{type: 'text', autocomplete: 'off', placeholder: 'Enter name / Search queries', name: 'overpass-name'}
                %label{ for: "overpass-name"} Title
                .autocomplete-list.dropdown-menu

              .mb-3.form-floating
                %textarea.mb-1.form-control.overpass-query{name: 'overpass-query', data: { action: "input->map--layers#resizeQueryField"} }
                %label{ for: "overpass-query"} Query
                %span.d-none.d-sm-inline.overpass-docs
                  %i.bi.bi-info-circle-fill
                  = link_to 'Overpass tutorial', tutorial_path(id: 'overpass_layers'), { target: '_blank', rel: 'noopener noreferrer' }

                %button.btn.btn-green{ 'data-action': 'click->map--layers#updateOverpassLayer'}
                  Update
                  %span.d-none.d-sm-inline
                    Layer
                %button.btn.btn-orange{ 'data-action': 'click->map--layers#deleteOverpassLayer'}
                  Delete
                  %span.d-none.d-sm-inline
                    Layer

            %ul.list-unstyled

      #layers.mt-2



