/ default values will get up by initSettingsModal(), current values by callbacks
- data = { controller: 'map--settings',
           map__settings_current_pitch_value: @map_properties[:pitch].to_f.round(0),
           map__settings_current_zoom_value: (@map_properties[:zoom] || @map_properties[:default_zoom]).to_f.round(2),
           map__settings_current_bearing_value: @map_properties[:bearing].to_f.round(0),
           map__settings_current_center_value: (@map_properties[:center] || @map_properties[:default_center]),
           action: "keydown.esc@window->map--settings#close" }

#settings-modal.modal-center.fade{ data: data }
  .map-modal
    %button.close-button{ data: { action: "click->map--settings#close" } } &times;
    .map-modal-header
      %h3.mapforge-font Configure Map

    .map-modal-content

      - if @map_mode == 'rw'
        .form-floating.edit-ui
          %input.form-control#map-name{"name": "map-name", type: "text", size: 27, data: { action: "input->map--settings#updateName" } }
          %label{ for: "map-name"}
            %b Name:

      %h4.mapforge-font.mt-2
        Background map

      - Map::BASE_MAPS.each do |base_map|
        - active = (@map_properties[:base_map] == base_map)

        - map_image = "base_maps/placeholder.jpg"
        - if Rails.application.assets.find_asset("base_maps/#{base_map}.jpg").present?
          - map_image = "base_maps/#{base_map}.jpg"
        = image_tag(map_image, data: { base_map: base_map, action: "click->map--settings#updateBaseMap" }, class: "layer-preview", loading: 'lazy')

      %br
      - # Default checkbox state gets set by initSettingsModal()
      %span.no-wrap.me-2
        %label{ for: "map-terrain"} 3D Terrain:
        %input#map-terrain{type: "checkbox", data: { action: "click->map--settings#updateTerrain"} }

      %span.no-wrap.me-2
        %label{ for: "map-hillshade"} Hillshade:
        %input#map-hillshade{type: "checkbox", data: { action: "click->map--settings#updateHillshade"} }

      %span.no-wrap.me-2
        %label{ for: "map-contours"} Contour lines:
        %input#map-contours{type: "checkbox", data: { action: "click->map--settings#updateContours"} }

      %span.no-wrap.me-2
        %label{ for: "map-globe"} Globe:
        %input#map-globe{type: "checkbox", data: { action: "click->map--settings#updateGlobe"} }

      
      %h4.mapforge-font.mt-2 View

      - if @map_mode == 'rw'
        %p 
          Set the default view that is shown when opening this map. 
          When 'center' is set to 'auto', the map will start centered 
          on your content. 
      %p
        %b.me-1 Map default: 
        %span.no-wrap
          %i.bi.bi-crosshair.me-2.mb-2
          %span.view-values#map-center>
          ,
        %span.no-wrap  
          %i.bi.bi-zoom-in.me-2.mb-2
          %span.view-values#map-zoom>
          ,
        %span.no-wrap
          %i.bi.bi-triangle.me-2.mb-2
          %span.view-values#map-pitch>
          ,
        %span.no-wrap
          %i.bi.bi-arrow-counterclockwise.me-2
          %span.view-values#map-bearing>

      %b.me-1 Current:
      %span.no-wrap
        %i.bi.bi-crosshair.me-2.mb-2
        %span.view-values#map-center-current>
        ,
      %span.no-wrap
        %i.bi.bi-zoom-in.me-2.mb-2
        %span.view-values#map-zoom-current>
        ,
      %span.no-wrap 
        %i.bi.bi-triangle.me-2.mb-2
        %span.view-values#map-pitch-current>
        ,
      %span.no-wrap  
        %i.bi.bi-arrow-counterclockwise.me-2.mb-2
        %span.view-values#map-bearing-current>

      - if @map_mode == 'rw'
        .mt-2
          %button.btn.btn-green.mt-1.w-100.mw-245#save-map-defaults{ data: { action: "click->map--settings#updateDefaultView" } }
            %i.bi.bi-crosshair.me-1
            Set current view as default

          %button.btn.btn-green.mt-1.w-100.mw-245#save-map-defaults{ data: { action: "click->map--settings#resetDefaultView" } }
            %i.bi.bi-crosshair
            Reset default view

