#share-modal.modal-center.fade
  .map-modal{'data-controller': "map--modal map--share", 'data-action': "keydown.esc@window->map--modal#close"}
    %button.modal-close-button{ data: { action: "click->map--modal#close" } } &times;
    .map-modal-header
      %h3.mapforge-font Share Map

    .map-modal-content.inline-scroll

      .feature-section-card.pt-3
        - if @map_mode == 'rw'
          - if @user && (@map.owners.include?(@user) || @user.admin?)
            .row.mb-3
              .col-12
                .d-flex.gap-2.align-items-center
                  %button#share-ownership-link.form-button.btn.btn-blue.flex-grow-1{ type: "button" }
                    =link_to(map_path(@map.private_id, join: true), data: { turbo: false, action: "click->map--share#nativeShareOwnershipLink" }) do
                      - if @map.owners.any?
                        %span.me-2
                          - @map.owners.each do |owner|
                            - if owner.image
                              = image_tag avatar_url(owner.image, 24), class: 'map-avatar', crossorigin: "anonymous", title: owner.name || owner.email, data: { "toggle": 'tooltip', 'bs-placement': 'top' }
                      %i.bi.bi-shield-fill-check.me-2
                      Share ownership link
                      %span.permission-badge.badge-owner.ms-2 Owner
                  %a.link.text-muted.copy-link{ data: { action: "click->map--share#copyOwnershipLink", "toggle": 'tooltip', 'bs-placement': 'top' }, title: "Copy link to clipboard" }
                    %i.bi.bi-copy.me-1
                %small.text-muted.mt-2.flex-center.center
                  Map owners have this map listed in their account with full permissions.

          .row.mb-3
            .col-12
              .d-flex.gap-2.align-items-center
                %button#share-edit-link.form-button.btn.btn-blue.flex-grow-1{ type: "button" }
                  =link_to(map_path(@map.private_id), data: { turbo: false, action: "click->map--share#nativeShareEditLink" }) do
                    %i.bi.bi-pencil-square.me-2
                    Share edit link
                    %span.permission-badge.badge-edit.ms-2 Can Edit
                %a.link.text-muted.copy-link{ data: { action: "click->map--share#copyEditLink", "toggle": 'tooltip', 'bs-placement': 'top' }, title: "Copy link to clipboard" }
                  %i.bi.bi-copy.me-1
              %small.text-muted.mt-2.flex-center.center
                With this link, users can modify the map, add layers, and make changes.

        .row.mb-3
          .col-12
            .d-flex.gap-2.align-items-center
              %button#share-view-link.form-button.btn.btn-blue.flex-grow-1{ type: "button" }
                =link_to(map_path(id: @map.public_id), data: { turbo: false, action: "click->map--share#nativeShareViewLink" }) do
                  %i.bi.bi-eye-fill.me-2
                  Share view link
                  %span.permission-badge.badge-view.ms-2 Read Only
              %a.link.text-muted.copy-link{ data: { action: "click->map--share#copyViewLink", "toggle": 'tooltip', 'bs-placement': 'top' }, title: "Copy link to clipboard" }
                %i.bi.bi-copy.me-1
            %small.text-muted.mt-2.flex-center.center
              Users can explore the map but cannot modify it.

        - if @map_mode == 'rw'
          .row.mb-2
            .col-md-12
              .form-check.form-switch.flex-center
                %input.form-check-input.me-2#map-gallery-toggle{ type: "checkbox", data: { action: "change->map--share#updateGalleryVisibility" }}
                %label.form-check-label{ for: "map-gallery-toggle" }
                  Show
                  %span.d-none.d-sm-inline map
                  in public
                  %span.d-none.d-sm-inline Mapforge
                  gallery

      .feature-section-card
        .btn-group-sm.mt-3{ role: "group" }
          %p.me-2.mb-2.center
            %b Download map
          .center
            %button.btn.btn-secondary.btn-download{ type: "button" }
              =link_to map_geojson_path(@map.public_id), target: '_blank' do
                %i.bi.bi-download
                GeoJSON
            %button.btn.btn-secondary.btn-download{ type: "button" }
              =link_to map_gpx_path(@map.public_id) do
                %i.bi.bi-download
                GPX
            %button.btn.btn-secondary.btn-download{ type: "button" }
              =link_to map_json_path(@map.public_id),target: '_blank' do
                %i.bi.bi-download
                Map
                %span.d-none.d-sm-inline export
          %small.text-muted.mt-2.flex-center.center
            Single tracks or points of the map can get exported from their details view.

      .feature-section-card.pt-2.d-none.d-sm-block
        %p.mt-2.center
          %b Embed map
        .center
          %textarea.embed-code.form-control{ rows: "3", readonly: "readonly" }
            = raw("<iframe width='600' height='450' style='border:0' loading='lazy' src='#{map_url(@map.public_id, { nomenu: true })}'></iframe>")
          %small.link.text-muted.flex-center.mt-1.text-nowrap{ data: { action: "click->map--share#copyEmbedCode" } }
            %i.bi.bi-copy.me-1
            Click to copy html to embed in your website