.btn {
  a, .link, a:hover, a:active, .link:hover, .link:active {
    color: unset;
  };
  
  border-radius: 0.5rem;
  padding: 0.3rem 0.75rem;
}

.btn-green {
  --text-color: #fff;
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-dark-moss-green);
  --bs-btn-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 130,138,145;
}

/* only add hover effects to supported browsers */
@media (hover: hover) {
  .btn-green {
    --bs-btn-hover-color: var(--color-dark-charcoal);
    --bs-btn-hover-bg: var(--color-light-teagreen);
    --bs-btn-hover-border-color: #565e64;
  }
}

/* add click effect to browsers without hover support */
@media (hover: none) {
  .btn-green {
    --bs-btn-active-color: var(--color-dark-charcoal);
    --bs-btn-active-bg: var(--color-light-teagreen);
    --bs-btn-active-border-color: #6c757d;
    transition: .2s;
  }
}

.mw-400 {
  max-width: 400px;
}

.mw-250 {
  max-width: 250px;
}

.mw-245 {
  max-width: 245px;
}

.btn-light-green {
  --bs-btn-color: var(--color-dark-charcoal);
  --bs-btn-bg: var(--color-light-teagreen);
  --bs-btn-border-color: #565e64;
  --bs-btn-hover-color: var(--color-dark-charcoal);
  --bs-btn-hover-bg: var(--color-light-teagreen);
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: var(--color-dark-charcoal);
  --bs-btn-active-bg: var(--color-light-alabaster);
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgb(0 0 0 / 12.5%);
}

/* only add hover effects to supported browsers */
@media (hover: hover) {
  .btn-light-green {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-dark-moss-green);
    --bs-btn-hover-border-color: #565e64;
  }
}

.btn-orange {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: #fff !important;

  --text-color: #fff;
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-orange);
  --bs-btn-hover-border-color: var(--color-orange);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-golden-brown);
  --bs-btn-active-border-color: var(--color-golden-brown);
}

/* only add hover effects to supported browsers */
@media (hover: hover) {
  .btn-orange:hover {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-golden-brown);
    --bs-btn-hover-border-color: var(--color-golden-brown);
  }
}

.btn-layer-actions {
  border-radius: 0.3rem;

  --bs-btn-padding-x: 0.4rem;
  --bs-btn-padding-y: 0.2rem;
}
