#docs {
  padding: 1.5rem;
}

/* Add margin to body when navbar is fixed */
nav.fixed-top~#docs {
  margin-top: 4rem;
}

.markdown-content {
  font-size: 1.2rem;

  h1 {
    font-weight: 100;
  }

  h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 300;
  }
  
  h2, h3, h4 {
    margin-top: 2rem; 
  }  

  td, th {
    border: 0.1rem solid var(--color-light-sand);
    padding: 0.5rem;
  }

  code {
    color: var(--color-dark-smoky-black);
    background: var(--color-light-sand); 
    padding: 0.3rem;
    border-radius: 0.3rem;
  }

  img, video {
    max-width: 640px;
    max-height: 480px;
  }
}

.tutorial-preview {
  display: block;
  border: 0.1rem solid var(--color-light-sand);
  border-radius: 1rem;
  max-width: 35rem;
  padding: 1.2rem;
  color: var(--color-light-sand) !important;
  text-decoration: none;
  cursor: pointer;

  h4 {
    font-weight: 500;
  }
}

.tutorial-preview:active {
  border-width: 0.2rem;
  padding: 1.1rem;
}

/* only add hover effects to supported browsers */
@media (hover: hover) {
  .tutorial-preview:hover {
    border-width: 0.2rem;
    padding: 1.1rem;
  }
}

@media (width <=575px) {
  .tutorial-preview {
    text-align: center;
  }

  .markdown-content img, .markdown-content video {
      max-width: 100%;
  }
}
