#feature-details-modal {
  position: absolute;
  padding: 0.55rem;
  overflow-y: auto;
  margin: 0.4rem 1rem 1.5rem;
  background-color: rgb(255 255 255 / 90%);

  .modal-close-button {
    top: 0;
  }
}

#feature-details-header {
  width: calc(100% - 2rem);
}

#feature-title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
  line-height: 1.5;
  font-weight: 400;
}

@media (width <= 574px) {
  #feature-details-modal {
    bottom: 0;
    left: calc(50% - 1rem);
    transform: translate(-50%);
    max-height: calc(100% - 15px); /* px here for easier calculation of scroll behavior */
    background-color: #fff;
    overflow-y: auto;
    width: calc(100% - 0.4rem);
    max-width: 27rem;
    margin: 0.5rem 1rem;

    .modal-close-button {
      top: 0.25rem;
    }
  }
}

@media (width > 574px) {
  #feature-details-modal {
    left: 2.2rem;
    top: 4.2rem;
    width: 25rem;
    max-height: calc(100% - 5rem);
    margin: 0.4rem 1rem 1.5rem;
  }

  @media (height < 390px), (width >= 1024px) {
    #feature-details-modal {
      top: 0.2rem;
      max-height: calc(100% - 1.5rem);
    }
  }
}

#feature-details-body table {
  border-radius: 1rem;
  border-collapse: separate;
}

#feature-details-body tbody {
  background-color: var(--color-light-beige);
}

#feature-details-body td {
  padding: 0.2rem 0.8rem;
}

#feature-edit-ui {
  #fill-color, #stroke-color, #marker-symbol {
    width: 3rem;
  }
}

#feature-edit-raw {
  margin-top: 1.8rem;
}

.feature-details-icon {
  margin: 0.3rem;
  margin-right: 0.6rem;
  max-height: 2rem; /* same size as .fs-2 */
}

#feature-details-meta {
  font-size: 80%;

  a {
    text-decoration: none;
  }
}

#feature-details-body, #feature-edit-ui, #feature-edit-raw {
  overflow-y: hidden;
}

#feature-details-body img {
  max-width: 100%;
  height: auto;
}

#feature-details-body .icon {
  max-height: 1rem;
}

#feature-edit-raw textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#feature-edit-raw .error {
  color: red;
}

/* fix bootstrap overwriting style of easymde 'table' button */
.editor-toolbar button {
  width: unset;
}

.editor-statusbar {
  display: none;
}

.edit-ui {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#feature-desc {
  padding-top: 0.5rem;
}

.edit-ui .slider {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 8rem;
}

.edit-ui label, .edit-ui span {
  flex-grow: 0;
  flex-shrink: 0;
}

/* cannot set css inside the shadow dom from here */
em-emoji-picker {
  position: absolute;
  height: unset;
  width: calc(100% - 0.6rem);
  z-index: 1000;
  left: 0;
}

input {
  accent-color: var(--color-light-teagreen);
}

.EasyMDEContainer button { /* stylelint-disable-line */
  color: #000;
}
