#feature-details-modal {
  position: absolute;
  padding: 0.55rem;
  overflow-y: auto;
  margin: 0.4rem 1rem 1.5rem;
  border-radius: 3px;
  background-color: rgb(255 255 255 / 90%);
}

@media (width <= 574px) {
  #feature-details-modal {
    bottom: 0;
    left: calc(50% - 1rem);
    transform: translate(-50%);
    min-height: 125px;
    max-height: calc(100% - 20px); /* px here for easier calculation of scroll behavior */
    background-color: #fff;
    overflow-y: auto;
    width: calc(100% - 1rem);
    margin: 0.5rem 1rem;
  }

  .modal-pull-up #feature-details-body, .modal-pull-up #feature-edit-ui, .modal-pull-up #feature-edit-raw {
    overflow-y: scroll;
    max-height: calc(100vh - 8rem);
  }
}

@media (width > 574px) {
  #feature-details-modal {
    left: 2rem;
    top: 4.2rem;
    width: 25rem;
    max-height: calc(100% - 5rem);
    margin: 0.4rem 1rem 1.5rem;
  }

  .modal-pull-button {
    visibility: hidden;
  }
}

#feature-details-body table {
  border-radius: 1rem;
  border-collapse: separate;
}

#feature-details-body tbody {
  background-color: var(--color-light-beige);
}

#feature-details-body td {
  padding: 0.2rem 0.8rem;
}

#feature-edit-ui {
  margin-top: 1.1rem;

  #fill-color, #stroke-color, #marker-symbol {
    width: 3rem;
  }
}

#feature-edit-raw {
  margin-top: 1.8rem;
}

.feature-details-icon {
  margin: 0.3rem;
  margin-right: 0.6rem;
  width: calc(1.325rem + .9vw); /* same size as .fs-2 */
  max-height: calc(1.325rem + .9vw);
}

#feature-details-meta, #feature-details-meta a {
  font-size: 80%;
  color: #999;
}

#feature-details-body, #feature-edit-ui, #feature-edit-raw {
  overflow-y: hidden;
}

#feature-details-body img {
    max-width: 100%;
    height: auto;
}

.edit-button-group {
  box-shadow: 0 0 6px 2px rgba(0 0 0 / 38%) !important;
}

#edit-buttons {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0.85;
}

.edit-button {
  cursor: pointer;
  display: inline-block !important;
  opacity: 0.85;
  width: 30px !important;
  height: 30px !important;
  font-size: 1.2rem !important;
}

#feature-edit-raw textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#feature-edit-raw .error {
  color: red;
}

.editor-statusbar {
  display: none;
}

.edit-ui {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#feature-desc {
  padding-top: 0.5rem;
}

#feature-title {
  max-width: 20rem;
}

.edit-ui .slider {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 8rem;
}

.edit-ui label, .edit-ui span {
  flex-grow: 0;
  flex-shrink: 0;
}
