.navbar {
  opacity: 1;
  z-index: 10;
}

.mapforge-font {
  font-family: Lobster, serif;
  font-weight: 600;
  font-style: normal;
}

.mapforge-logo {
  width: 3.2rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: unset;
  padding-bottom: unset;

  .mapforge-font {
    font-size: 1.6rem;
  }
}

#navbar-dropdown .btn {
  --bs-btn-font-size: 1.1rem;
}

.btn-orange {
  background-color: #f60;
  border-color: #f60;
  color: #fff !important;

  --text-color: #fff;
  --bs-btn-color: #fff;
  --bs-btn-bg: #f60;
  --bs-btn-border-color: #f60;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f60;
  --bs-btn-hover-border-color: #f60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF781F;
  --bs-btn-active-border-color: #FF781F;
}

/* only add hover effects to supported browsers */
@media (hover: hover) {
  .btn-orange:hover {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF781F;
    --bs-btn-hover-border-color: #FF781F;
  }
}

.login-link {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  text-decoration: none;
}

.profile-dropdown {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light-sand);
}

.navbar-toggler {
  position: absolute;
  right: calc(50% - 27px);
  top: 0.4rem;
  border-width: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.btn-create-map {
  position: absolute;
  right: 4rem;
  top: 0.85rem;
}

.navbar-collapse.collapsing, .navbar-collapse.show {
  .btn-create-map {
    position: unset;
  }
}

img.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.dropdown-menu[data-bs-popper] {
  right: -0.5rem;
  left: unset;
  opacity: 1;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--color-light-sand) !important;
}

/* make max space on small screen < sm */

/* Show burger menu and dropdown for nav items */
@media (width <= 574px) {
  .mapforge-logo {
      width: 2.9rem; 
    }

  .profile-dropdown {
      top: 0.6rem;
  }

  .login-link {
      top: 0.9rem;  
  }

  .navbar .container-fluid {
    padding-left: 0;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-collapse.collapsing, .navbar-collapse.show {
    margin-left: 0.8rem;
    margin-top: 0.8rem;
  }
}
