.navbar {
  opacity: 1;
  z-index: 2000;
}

.mapforge-font {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.mapforge-logo {
  width: 2.2rem;
  margin-top: 0.4rem;
  position: absolute;
}

.mapforge-title {
  margin-left: 2.8rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: unset;
  padding-bottom: unset;

  .mapforge-font {
    font-size: 1.6rem;
  }
}

#navbar-dropdown .btn {
  --bs-btn-font-size: 1.1rem;
}

.nav-link {
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  margin: 0 0 0 1rem;
  background-color: rgb(0 0 0 / 7.5%);
}

.nav-link:hover {
  background-color: rgb(0 0 0 / 12.5%);
}

.login-link {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  text-decoration: none;
}

.profile-dropdown {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light-sand);
}

.navbar-toggler {
  position: absolute;
  right: calc(50% - 27px);
  top: 0.4rem;
  border-width: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.btn-create-map {
  position: absolute;
  right: 4rem;
  top: 0.75rem;
}

.navbar-collapse.collapsing, .navbar-collapse.show {
  .btn-create-map {
    position: unset;
  }
}

img.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.dropdown-menu[data-bs-popper] {
  right: -0.5rem;
  left: unset;
  opacity: 1;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--color-light-sand) !important;
}

/* make max space on small screen < sm */

/* Show burger menu and dropdown for nav items */
@media (width <= 574px) {
  .mapforge-logo {
    width: 2.3rem;
    left: 1rem;
  }

  .profile-dropdown {
      top: 0.6rem;
  }

  .login-link {
      top: 0.9rem;  
  }

  .navbar {
    min-height: 3.1rem;
  }

  .navbar-brand {
    position: absolute;
    top: 1.5rem;
    margin-right: 0;
  }

  .navbar .container-fluid {
    padding-left: 0;
  }

  .navbar-collapse.collapsing, .navbar-collapse.show {
    margin-left: 0.8rem;
    margin-top: 2.8rem;
  }
}
