#maps {
  padding: 1.5rem;
}

/* Add margin to body when navbar is fixed */
nav.fixed-top~#maps {
  margin-top: 3rem;
}

@media (width <=640px) {
  #maps h1 {
    text-align: center;
  }
}

#maps-list .flex-container {
  gap: 1rem;
}

#maps-list .flex-item {
  flex: 1 1 15rem; /* Each item will grow to take up equal space within the container */
  min-width: 15rem;
  max-width: 25rem;
}

#maps-list .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

#maps-list .grid-item {
  min-width: 15rem;
  max-width: 25rem;
}

.map-preview {
  position: relative;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-light-sand);
  text-align: center;

  a {
    text-decoration: none;
  }
}

.map-preview a:hover img {
  filter: brightness(1);
}

.map-preview .last-change {
  text-align: center;
}

.preview-image-link {
  position:relative;
  overflow: hidden;
  user-select: none;
}

.preview-image {
  display: block;
  width: 100%;
  min-height: 11rem;
  filter: brightness(0.9);
  transition: transform 1200ms ease, filter 450ms ease;
}

.preview-image:hover {
  transform: scale(1.15);
}

.map-preview-title {
  position: absolute;
  width: 95%;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--color-dark-moss-green);
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.text-glow {
  text-shadow:
    /* cardinal directions */
      0 -3px 3px white,
      3px 0 3px white,
      0 3px 3px white,
      -3px 0 3px white,
      /* diagonals */
      3px -3px 3px white,
      3px 3px 3px white,
      -3px 3px 3px white,
      -3px -3px 3px white;
}

.map-auth {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 2;
  font-size: 1rem;
  background: var(--color-light-sand);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.map-avatar {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.8;
  border-radius: 50%;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 2;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.map-delete {
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  z-index: 2;
  font-size: 1.3rem;
  width: 1.9rem;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--color-light-sand);
}

.map-copy {
  position: absolute;
  right: 0.2rem;
  bottom: 2rem;
  z-index: 2;
  font-size: 1.3rem;
  width: 1.9rem;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--color-light-sand);
}

.empty-map-list {
  min-height: 8rem;
}

.bg-search-filter {
  background-color: var(--color-mid-steel-blue);
  margin-top: 0.3rem;

  --bs-badge-padding-x: 0.6rem;
  --bs-badge-padding-y: 0.4rem;
  --bs-badge-font-size: 1rem;

  .btn-close {
    width: 0.4rem;
    height: 0.4rem;
  }
}


#map-list-count {
  position: relative;
  top: -1rem;
  font-size: 0.8rem;
}
