.modal-center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none; /* This makes the div transparent to mouse events */
}

.map-modal {
  position: relative;
  pointer-events: auto;
  width: calc(100% - 1rem);
  max-width: 35rem;
  overflow-y: hidden;
  margin: 0 1rem;
  border-radius: 0.7rem;
  background-color: rgb(255 255 255 / 90%);

  /* Todo: Looks cool, but slows down browsers */

  /* backdrop-filter: blur(3px); */
  z-index: 1000;
  padding: 1.5em 1rem 0.8rem 1.5rem;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: auto;

  p {
    margin-bottom: 0.5rem;
  }

  .form-select {
    padding-top: 2rem;
  }
}

.map-modal-header {
  border-bottom: 2px solid var(--color-dark-charcoal);
}

.map-modal-content {
  margin-top: 1rem;
  max-height: calc(100vh - 11rem);
  padding-right: 5px; /* Prevents scrollbar from overlapping content */
}

.inline-scroll {
  overflow: hidden auto;
  scrollbar-width: auto; /* auto | thin | none */
  scrollbar-color: #888 #fff;
  padding-right: 0.5rem;
}

/* WebKit-based browsers (Chrome, Edge, Safari) */
.inline-scroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.inline-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 1rem;
}

.inline-scroll::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 1rem;
  border: 2px solid #f0f0f0;
}

.layer-preview {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 0.7rem;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  margin: 5px;
  opacity: 0.8;
  transition:
    opacity 0.3s linear,
    border-color 0.3s linear;
}

/* settings modal */

.layer-preview.active, .layer-preview:hover {
  border-color: var(--color-dark-moss-green);
  border-width: 0.2rem;
  opacity: 1;
}

.view-values {
  font-family: monospace;
  background: var(--color-light-alabaster);
  border: 1px solid var(--color-dark-moss-green);
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.15rem;
}

.modal-pull-button {
  display: none;
}

@media (width <= 574px) {
  .modal-pull-button {
    display: block;
    width: 45px;
    height: 8px;
    margin: auto;
    background-color: rgb(200 200 200);
    border-radius: 3px;
  }

  .modal-pull-button:hover {
    background-color: rgb(124 124 124);
  }

  .modal-pull-transition {
    transition:
      height 0.3s linear !important;
  }

  .modal-pull-up {
    height: calc(100% - 1rem);
  }

  .modal-pull-middle {
    height: 50%;
  }

  .modal-pull-down {
    height: 25%;
  }

  .modal-pull-fade {
    opacity: 0.4 !important;
  }
}

.modal-close-button {
  position: absolute;
  inset-block-start: 0.4rem;
  inset-inline-end: 0.8rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.background-dark .close-button {
  color: #fff;
}

.modal-close-button:hover {
  color: #666;
}

/* Share modal */

#share-edit-link, #share-view-link {
  margin-top: 0.5rem;
  width: 7.3rem;
}

#share-modal .form-floating > .form-select {
  height: unset;
}

.btn-download {
  --bs-btn-bg: var(--color-dark-charcoal);
  --bs-btn-hover-bg: var(--color-mid-steel-blue);
  --bs-btn-active-bg: var(--color-mid-steel-blue);

  margin-bottom: 0.5rem;
}

/* Layers modal */

#layers-modal .map-modal {
  overflow-y: visible;
}

#file-input-label {
  max-width: 17rem;
}

#query-dropdown {
  background-color: var(--color-light-alabaster);
  overflow-y: auto;
  max-height: 50vh;
}

#query-dropdown li {
  margin: 0.1em 0.5em;
  cursor: pointer;
}

.layer-item-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.layer-item-header span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layer-item-header button {
  max-width: 3rem;
  margin: 0 0.2rem;
}

.overpass-docs {
  float: right;
}

.layer-feature-item {
  cursor: pointer;
  white-space: nowrap;
  width: auto !important;

  .feature-name {
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    overflow: hidden;
    max-width: calc(100% - 3rem);
    text-overflow: ellipsis;
  }
}

.feature-icon {
  min-width: 2rem;
}

.layer-feature-item:hover {
  text-decoration: underline;
}

.layer-feature-item i.bi {
  vertical-align: -.125rem;
}

.layer-feature-item .feature-details-icon {
  margin: 0.3em 0 0;
}

.layer-refresh-animate {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.overpass-edit {
  max-width: 95%;
}

.overpass-query {
  min-height: 4em !important;
}

.layer-osm-icon {
  padding-bottom: 0.2rem;
}

@media (width < 380px) {
  .map-modal {
    margin: 0 0.5rem;
  }
}

#confirmation-yes, #confirmation-no {
  font-size: 1rem;
}

#map-description table td,
#map-description table th, 
#description-content table td,
#description-content table th {
  border: 1px solid #ddd;
  padding: 5px;
}

#description-header {
  min-height: 1rem;
  font-weight: 600;
}